Repository Qytera-Gmbh/QTAF, pull requests merged in 2023-04, with the labels that each got.

#59 Allow truncation of long parameter names/values during Xray JSON construction
  qtaf-core/src/main/resources/qtaf.json
  qtaf-xray-plugin/src/main/java/de/qytera/qtaf/xray/builder/AbstractXrayJsonImportBuilder.java
  qtaf-xray-plugin/src/main/java/de/qytera/qtaf/xray/config/XrayConfigHelper.java
  qtaf-xray-plugin/src/test/java/de/qytera/qtaf/xray/builder/AbstractXrayJsonImportBuilderTest.java
  qtaf-xray-plugin/src/test/java/de/qytera/qtaf/xray/entity/XrayTestEntityTest.java
Labels: xray plugin

#60 Return `null` instead of 0 for undefined configuration integers
  qtaf-core/src/main/java/de/qytera/qtaf/core/config/entity/ConfigMap.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/helper/SeleniumDriverConfigHelper.java
  qtaf-core/src/test/java/de/qytera/qtaf/core/config/ConfigurationTest.java
Labels: core

#61 Reuse QTAF statuses for Xray entities & add step status customization
  qtaf-core/src/main/resources/qtaf.json
  qtaf-xray-plugin/src/main/java/de/qytera/qtaf/xray/builder/XrayCloudJsonImportBuilder.java
  qtaf-xray-plugin/src/main/java/de/qytera/qtaf/xray/builder/XrayJsonImportBuilder.java
  qtaf-xray-plugin/src/main/java/de/qytera/qtaf/xray/builder/XrayJsonImportBuilderFactory.java
  qtaf-xray-plugin/src/main/java/de/qytera/qtaf/xray/builder/XrayServerJsonImportBuilder.java
  qtaf-xray-plugin/src/main/java/de/qytera/qtaf/xray/config/XrayConfigHelper.java
  qtaf-xray-plugin/src/main/java/de/qytera/qtaf/xray/config/XrayStatusHelper.java
  qtaf-xray-plugin/src/main/java/de/qytera/qtaf/xray/entity/XrayManualTestStepResultEntity.java
  qtaf-xray-plugin/src/main/java/de/qytera/qtaf/xray/entity/XrayTestEntity.java
  qtaf-xray-plugin/src/main/java/de/qytera/qtaf/xray/entity/XrayTestIterationResultEntity.java
  qtaf-xray-plugin/src/main/java/de/qytera/qtaf/xray/event_subscriber/UploadResultsSubscriber.java
  qtaf-xray-plugin/src/test/java/de/qytera/qtaf/xray/builder/AbstractXrayJsonImportBuilderTest.java
  qtaf-xray-plugin/src/test/java/de/qytera/qtaf/xray/builder/XrayJsonImportBuilderTest.java
  qtaf-xray-plugin/src/test/java/de/qytera/qtaf/xray/entity/XrayManualTestStepResultEntityTest.java
  qtaf-xray-plugin/src/test/java/de/qytera/qtaf/xray/entity/XrayTestEntityTest.java
Labels: xray plugin

#63 Add step screenshots as evidence inside iterations
  qtaf-xray-plugin/src/main/java/de/qytera/qtaf/xray/builder/XrayJsonImportBuilder.java
  qtaf-xray-plugin/src/main/java/de/qytera/qtaf/xray/entity/XrayEvidenceItemEntity.java
  qtaf-xray-plugin/src/main/java/de/qytera/qtaf/xray/entity/XrayManualTestStepResultEntity.java
  qtaf-xray-plugin/src/test/java/de/qytera/qtaf/xray/builder/XrayJsonImportBuilderTest.java
Labels: xray plugin

#69 Reset version to 0.0.6
  pom.xml
  qtaf-allure-plugin/pom.xml
  qtaf-core/pom.xml
  qtaf-data/pom.xml
  qtaf-html-report-plugin/pom.xml
  qtaf-http/pom.xml
  qtaf-io/pom.xml
  qtaf-xray-plugin/pom.xml
Labels: bug

#68 Update release action
  .github/workflows/PublishMavenCentral.yml
Labels: enhancement

#72 Handle absent @XrayTest annotations
  qtaf-core/src/main/java/de/qytera/qtaf/core/config/entity/ConfigMap.java
  qtaf-xray-plugin/src/main/java/de/qytera/qtaf/xray/builder/XrayJsonImportBuilder.java
  qtaf-xray-plugin/src/main/java/de/qytera/qtaf/xray/event_subscriber/UploadResultsSubscriber.java
  qtaf-xray-plugin/src/test/java/de/qytera/qtaf/xray/builder/XrayJsonImportBuilderTest.java
  qtaf-xray-plugin/src/test/resources/images/qytera.png
  qtaf-xray-plugin/src/test/resources/images/turtle.png
Labels: xray plugin

#76 Create pull request during publish action
  .github/workflows/Publish.yml
  .github/workflows/PublishMavenCentral.yml
  .github/workflows/Test.yml
Labels: enhancement

#75 Run unit tests in pull requests
  .github/workflows/Publish.yml
  .github/workflows/Test.yml
  .github/workflows/TestCompilation.yml
  .github/workflows/TestJavaVersions.yml
Labels: enhancement

#78 Prevent configuration from crashing when retrieving `null` lists
  qtaf-core/src/main/java/de/qytera/qtaf/core/config/entity/ConfigMap.java
  qtaf-core/src/test/java/de/qytera/qtaf/core/config/ConfigurationTest.java
Labels: bug, 🛠 core

#79 Bump QTAF from 0.0.7 to 0.0.8
  pom.xml
  qtaf-allure-plugin/pom.xml
  qtaf-core/pom.xml
  qtaf-data/pom.xml
  qtaf-html-report-plugin/pom.xml
  qtaf-http/pom.xml
  qtaf-io/pom.xml
  qtaf-xray-plugin/pom.xml
Labels: version

#82 Fix missing file detector for remote web drivers
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/AbstractAndroidDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/AbstractDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/AndroidDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/ChromeAndroidDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/ChromeDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/ChromeRemoteDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/DriverFactory.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/EdgeDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/EdgeRemoteDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/FirefoxAndroidDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/FirefoxDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/FirefoxRemoteDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/InternetExplorerDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/SaucelabsDriver.java
  qtaf-core/src/test/java/de/qytera/qtaf/selenium/DriverTest.java
Labels: bug, 🛠 core

#83 Bump QTAF from 0.0.8 to 0.0.9
  pom.xml
  qtaf-allure-plugin/pom.xml
  qtaf-core/pom.xml
  qtaf-data/pom.xml
  qtaf-html-report-plugin/pom.xml
  qtaf-http/pom.xml
  qtaf-io/pom.xml
  qtaf-xray-plugin/pom.xml
Labels: version

#87 Replace driver constructors with `isRemoteDriver` method
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/AbstractAndroidDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/AbstractDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/AndroidDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/ChromeAndroidDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/ChromeDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/ChromeRemoteDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/EdgeDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/EdgeRemoteDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/FirefoxAndroidDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/FirefoxDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/FirefoxRemoteDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/InternetExplorerDriver.java
  qtaf-core/src/main/java/de/qytera/qtaf/core/selenium/SaucelabsDriver.java
Labels: bug, 🛠 core
